<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/public/app.js"></script>
  <link rel="stylesheet" href="/public/app.css">
</head>
<body class="flex flex-col bg-gray-100 text-gray-800 p-10">
<section class="py-1 bg-blue w-full">
  <h1 class="text-center text-2xl font-bold mt-12">Analyse réponses MQ via ChatGPT</h1>
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-12">
    <div class="break-words bg-white w-full mb-6 shadow-lg rounded px-4">
      <div class="rounded-t mb-0 px-4 py-6 border-0 flex items-center justify-between">
        <div class=" px-4">
          <h3 class="font-semibold text-base text-blueGray-700">Liste des réponses</h3>
        </div>
        <div class="relative px-4 flex items-center justify-end">
          <button class="bg-orange-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all cursor-pointer duration-150 flex items-center justify-center" id="analyze-button">
            <svg class="animate-spin mr-2 h-3 w-3 text-white hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Analyser les réponses
          </button>
          <a class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all cursor-pointer duration-150" href="/">Ajouter une réponse</a>
          <a class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all cursor-pointer duration-150" href="/graph">Graph</a>
        </div>
      </div>
      <div class="flex items-center justify-center mb-6 flex-wrap">
        {{#each categories as |category|}}
            <button data-open-category="{{category.name}}" class="bg-gray-200 text-gray-700 hover:!bg-gray-400 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mx-1 my-1 ease-linear transition-all duration-150">{{category.name}}</button>
        {{/each}}
      </div>
      <div class="flex items-center justify-center mb-6 w-full">
        <div class="inline-flex items-center justify-center w-full">
          <div class="relative inline-block w-8 h-4 rounded-full cursor-pointer">
            <input id="switch-numeric-responses" type="checkbox" checked class="absolute w-8 h-4 transition-colors duration-300 rounded-full appearance-none cursor-pointer peer bg-gray-300 checked:bg-indigo-500 peer-checked:border-indigo-500 peer-checked:before:bg-blue-500" />
            <label for="switch-numeric-responses" class="before:content[''] absolute top-2/4 -left-1 h-5 w-5 -translate-y-2/4 cursor-pointer rounded-full border border-gray-300 bg-white shadow-md transition-all duration-300 before:absolute before:top-2/4 before:left-2/4 before:block before:h-10 before:w-10 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-gray-500 before:opacity-0 before:transition-opacity hover:before:opacity-10 peer-checked:translate-x-full peer-checked:border-indigo-500 peer-checked:before:bg-indigo-500">
              <span class="inline-block p-5 rounded-full top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4"></span>
            </label>
          </div>
          <span class="text-xs text-gray-500 ml-2">Afficher les réponses numériques</span>
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        {{#each categories as |category|}}
          <div data-category="{{category.name}}" class="">
            <h3 class="font-semibold text-base text-slate-700 px-6 mb-4 border-t-2 pt-4 border-solid border-gray-300" id="{{ category.name }}">
              Catégorie : <a class="underline decoration-2 decoration-blue-400 hover:decoration-red-400" href="/summary/{{category.name}}/1,2,3,4,5">{{category.name}}</a>
            </h3>
            <table class="items-center bg-transparent w-full border-collapse border-bottom mb-10">
              <thead>
              <tr>
                <th class="px-6 bg-gray-50 text-gray-500 align-middle border border-solid border-gray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Réponses</th>
                <th class="px-6 bg-gray-50 text-gray-500 align-middle border border-solid border-gray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Score</th>
                <th class="px-6 bg-gray-50 text-gray-500 align-middle border border-solid border-gray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Status analyse</th>
                <th class="px-6 bg-gray-50 text-gray-500 align-middle border border-solid border-gray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Actions</th>
              </tr>
              </thead>
              <tbody>
              {{#each category.responses as |response|}}
                <tr>
                  <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 flex text-wrap w-72 overflow-scroll">
                    {{response.content}}
                  </th>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4" data-show-score="{{response.scores}}" data-category="{{category.name}}">
                  </td>
                  <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{#if response.shouldBeAnalysed}}
                      {{#if response.isAnalysed}}
                        <button class="bg-green-500 text-white text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Analysé</button>
                      {{else}}
                        <button class="bg-red-500 text-white text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">En attente</button>
                      {{/if}}
                    {{else}}
                      <button data-is-numeric-response class="bg-gray-500 text-white text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">NN</button>
                    {{/if}}
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    <button onclick="window.deleteResponse('{{response.id}}')" class="bg-red-500 text-white active:bg-red-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    <button onclick="window.reanalyzeResponse('{{response._id}}')" class="bg-orange-500 text-white active:bg-orange-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 p-1 fill-current" fill="none"  viewBox="0 0 512 512" stroke="currentColor">
                        <path d="M386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H464c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              {{else}}
                <tr class="text-center">
                  <td colspan="4" class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-gray-500/80">
                    Aucune réponse pour cette catégorie
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
</body>
</html>
